<div class="container">
  <div class="login-wrap">
    <div class="login-html">
      <div class="alert alert-danger" [hidden]="logged!=-1">Email ou mot de passe incorrect</div>
      <div class="login-form">
        <form class="form" [hidden]="logged!=1" (ngSubmit)="onLogout()" #loginForm="ngForm" novalidate>
          <h3 class="sign-up" [hidden]="submitted && logged!=1">Se déconnecter</h3>

          <div class="col-sm-12 submit ">
            <button type="submit" class="btn btn-success">Se déconnecter</button>
          </div>

        </form>
        <form class="form" [hidden]="(submitted && logged!=-1) || logged==1" (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
          <h3 class="sign-up" [hidden]="submitted && logged!=-1">Se connecter</h3>

          <div class="form-group">
            <div class="form-row col-sm-12 pb-3">
              <div class="col-sm-12">
                <label for="email" class="label form-control-placeholder">Email</label>
                <input type="text" class="input form-control" id="email" required
                       pattern="^[a-zA-Z0-9._+-]+@[a-z]+\.[a-z.]{2,5}$"
                       [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="email@exemple.com">
                <div [hidden]="email.valid || (email.pristine && !loginForm.submitted)"
                     class="alert alert-danger">
                  L'email est invalide
                </div>
              </div>
            </div>
            <!--<pre *ngIf="email.errors">{{ email.errors | json }}</pre>-->
            <div class="form-row col-sm-12 pb-3">

              <div class="col-sm-12">
                <label for="password" class="label">Mot de passe</label>
                <input type="password" class="input form-control" id="password" required minlength="6" maxlength="20"
                       [(ngModel)]="model.password" name="password" placeholder="Mot de passe"
                       #password="ngModel">
                <div [hidden]="password.valid || (password.pristine && !loginForm.submitted)"
                     class="alert alert-danger">
                  Entrez votre mot de passe
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 submit ">
            <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Se connecter</button>
            <button type="button" class="btn btn-info" (click)="loginForm.reset()">Reset</button>
          </div>

        </form>
      </div>
    </div>
    <div [hidden]="!(submitted && (logged==1 || logged==0)) || logged==1" class="panel"
         [ngClass]="{'panel-success': logged==1, 'panel-info': logged==0}">
      <div class="panel-heading">
        <h1 *ngIf="logged==0 && loggedOut==0">Chargement en cours</h1>
        <h1 *ngIf="logged==1;">Bienvenue !</h1>
        <h1 *ngIf="logged==0 && loggedOut==1">A bientôt !</h1>
      </div>
      <div class="panel-body">
      </div>

    </div>
  </div>
</div>
